body{
    /* background-image: url('https://images.pexels.com/photos/236047/pexels-photo-236047.jpeg?cs=srgb&dl=clouds-cloudy-countryside-236047.jpg&fm=jpg');
    
    background-repeat: no-repeat;
    background-size: cover; */

    /* background: linear-gradient(to right, red,blue,green,aqua,orange,yellow,violet); */

    background: linear-gradient(to left, yellow,green,aqua);
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}

p{
    text-align: center;
}
#para1,#para2{
    background-color: red;
    padding-bottom: 50px;
    margin: 50px;
    border: 1px solid black;

}
